<h1>Register</h1>
<form action="/register" method="POST">

    <div>
      <Label for="name">Name</Label>  
      <input type="text" id="name" name="name" required>
    </div>
    <div>
        <Label for="email">Email</Label>  
        <input type="email" id="email" name="email" required>
    </div> 
     
    <div>
        <Label for="Password">Password</Label>  
        <input type="password" id="password" name="password" required>
    </div>
        <button type="submit">Register</button>
</form>
<a style="text-decoration: none" href="/login">Login</a>